<div id="firstpage">
<section class="page-image">
    <div class="title" style="width: 50%;margin: auto;">
        <h2 class="heading ">OUR LEADERS</h2>
        <hr class="horizontal">
        <p class="subtitle mt-2 "  data-aos="flip-right">Our leaders set the base for the academic, intellectual and creative work that runs all around our campus. Committed to excellence in all areas, the leaders of our institutions ensure that we adapt and respond to contemporary issues, create an inclusive community and foster an environment for the wellness of our surroundings.</p>
    </div>
</section>
<section class="drone" style="background-color:#1f1d1c">
    <div class="container">
       
            <div class="row">
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="overlayinn">
                        <img src="https://cdn.bitrix24.com/b11752903/landing/09c/09c397db6070b18620d253cfc82d8475/Chairman_2x_2x_1x.jpg" alt="Avatar" class="image">
                        <div class="overlayout">
                            <h3 class="text-j">Design Thinker</h3>
                    
                        </div>  
                    </div>
                    <h5 >CHAIRMAN</h5>
                </div>
                <div class="col-md-4  col-sm-4 col-12" id="image1">
                    <div class="overlayinn">
                        <img src="https://cdn.bitrix24.com/b11752903/landing/c3b/c3b71f80fd49f128f0bf05e45622f1fc/Correspondent_2x_2x_1x.jpg" alt="Avatar" class="image1">
                        <div class="overlayout" >
                            <h3 class="text" >Design thinker</h3>
                        </div>  
                    </div>
                    <h5>CORRESPONDENT</h5>
                </div>
                <div class="col-md-4 col-sm-4   col-12" id="image1">
                    <div class="overlayinn">
                        <img src="https://cdn.bitrix24.com/b11752903/landing/ee9/ee92f3bea9f92c22dc86bcaeb7a8ae7b/TD_sir_1x.jpg" alt="Avatar" class="image1">
                        <div class="overlayout" >
                            <h3 class="text" >Design thinker</h3>
                        </div>  
                    </div>
                    <h5>TECHNICAL DIRECTOR</h5>
                </div>
            </div>
    

    </div>
</section>


    <div class="title" style="width: 55%;margin: auto;">
        <h2 class="heading" >KNOW ABOUT US</h2>
        <hr class="horizontal">
        <p class="subtitle" style="color: black;" data-aos="fade-up-left" >We aim to spark the curiosity of the students and engage them effectively. This is a great place where students will have their opportunity to turn path-breaking research into real-world needs.</p>
    </div>


<!------------------------------------------ team end -------------------------->
<section class="page-intro ">
    <div class="container">
        <div class="intro">
            <diV class="video">
                <div class="row">
                    <div class="col-md-6 col-sm-12 image">    
                        
                            <img id="playvideo"  class="embed-responsive-item fa fa-play" src="https://cdn.bitrix24.com/b11752903/landing/d04/d047e14aeee8aa4f512b964a76394768/IMG_20190123_100846-01_2x_2x_1x.jpeg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" >
                       
                    </div>

                    <div class="col-md-6 content">
                        <h5 style="color:yellow; margin-top: 25px;" data-aos="flip-up">WHO WE ARE</h5>
                        <p style="color:white; margin-top: 22px;" data-aos="fade-down-left">We started our journey in 1997 through Sri SNS Charitable Trust with a philanthropic outlook of serving the society in the fields of Education, Health and Industry. Ever since the inception of Sri SNS Charitable Trust, we have been expanding its wide spectrum of educational streams from pre-school to advanced levels of graduate and post graduate programmes in Arts, Science, Education, Management, Engineering, Pharmacy, Allied Health Sciences and Research centers. Every institution has a well-defined vision, highly committed mission and dedicated faculty members to deliver the excellence in design thinking based education and innovation through our five pillar theme. Ranking among the top 5 colleges in Coimbatore, we opt to shine as one of the premier institutions in the country and become internationally recognized university worldwide.
                        </p>
                      
                    </div>

                     
                </div>
            </diV>
        </div>
    </div>
</section>


<section class="page-intro focus">
    <div class="container">
        <div class="intro">
            <diV class="video">
                <div class="row">
                    <div class="col-md-6">
                        <h5 style="color:yellow; margin-top: 25px;" data-aos="flip-up">OUR FOCUS</h5>
                        <h6 style="color: yellow;font-weight: 700;">QUALITY EDUCATION</h6>
                        <p style="color:white; margin-top: 22px;" data-aos="fade-down-left">In SNS, we strive to touch every lead of the world we live in. Through design thinking, we focus on delivering quality education by providing an effective learning environment, and true innovators who fix the real social needs and issues.
                        </p>
                        <h6 style="color: yellow;font-weight: 700;" data-aos="flip-up">INNOVATION</h6>
                        <p style="color:white; margin-top: 22px;" data-aos="fade-down-left">Not just engineers, we deliver entrepreneurs! Design Thinking help us to foster creativity, providing an appropriate seed of mechanism to bring ideas and imaginations into life.
                        </p>
                        <h6 style="color: yellow;font-weight: 700;" data-aos="flip-up">SOCIAL CAUSE</h6>
                        <p style="color:white; margin-top: 22px;" data-aos="fade-down-left">Our community focuses on solving real social needs and issues. We cultivate the values of social responsibility and sustainability among students and the world community.
                        </p>
                      
                    </div>

                    <div class="col-md-6">
                        <h5 style="color:yellow; margin-top: 25px;" data-aos="flip-down">23 YEARS OF BUILDING
                            POWERFUL LEARNING EXPERIENCE</h5>
                        <p style="color:white; margin-top: 22px;" data-aos="fade-down-right">.Providing an outstanding educational experience rooted in strong disciplines and enhanced by a broad range of experiences
                        </p>
                        <p style="color:white; margin-top: 22px;" data-aos="fade-down-right">.Implementing our technology-enhanced learning roadmap so that we are recognized as a leading university for the use of technology to support campus-based education.
                        </p>
                        <p style="color:white; margin-top: 22px;" data-aos="fade-down-right">.Aiming to establish an inter-disciplinary teaching to facilitate multi-disciplinary and inter-disciplinary opportunities for the students.
                        </p>
                      
                    </div>

                     
                </div>
            </diV>
        </div>
    </div>
</section>

</div>
