<div class="container-fluid p-3 my-3 bg-light text-white">
    <h1 class="text-primary">Contact</h1>
    <p class="text-success">Home/Contact</p>
  </div>
  <div class="container">
      <div class="form-row">
  <div class="container col-md-7 col-sm-12 col-lg-6">
      <form >
              <h3 class="text-center text-dark">General requiry</h3>
          <div class="form-row mt-4">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                  <label for="inputPassword4">Subject</label>
                  <input type="subject" class="form-control" id="inputPassword4" placeholder="Subject">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 col-sm-6 col-lg-6 col-6">
                  <label for="inputPassword4">Message</label><br>
                  <input type="subject"  style="height:100px;width:200%" class="form-control" id="inputPassword4" placeholder="Subject">
                </div>
            </div>
            <!-- <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div> -->
            <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
        
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
          
        
              <div  class="address">
              
                <h4 class=""><strong >Address</strong></h4>
                <ul class="mt-4">
                  <li> <strong>SNS College Of Engineering</strong><br>
                    kurumbapalayam(Post), saravanampatti,<br>
                    Coimbatore - 641 010, INDIA<br>
                    Phone: +91 - 422 - 2605577<br>
                    Fax: +91 - 422 - 2605454<br>
                    E-mail: <a href="mailto:mail@principal@sns.org">principal@sns.org </a><br>
                    Website: <a href="index.html">www.sns.org</a> </li>
                </ul>
              </div>
          </div>
    </div>
    <h2><strong>Find Address</strong></h2>
    <div class="faddress">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.1335279177456!2d77.02498231428935!3d11.10342475611009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8f83350b6be39%3A0xd5e7ea7227568ae2!2sSNS%20College%20of%20Engineering%20(Autonomous)!5e0!3m2!1sen!2sin!4v1626630330705!5m2!1sen!2sin" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>