
   <div style="height:600px" class="video">
    <iframe style="height:657px" src="https://www.youtube.com/embed/8e8CqmmO-4Y?autoplay=1&amp;controls=0&amp;loop=1&amp;mute=1&amp;rel=0&amp;start=0.0001&amp;html5=1&amp;v=8e8CqmmO-4Y&amp;feature=emb_logo&amp;enablejsapi=1&amp;origin=https://snsce.ac.in" frameborder="0" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="landing-block-node-video embed-responsive-item g-video-preview w-100" data-src="https://www.youtube.com/embed/8e8CqmmO-4Y?autoplay=1&amp;controls=0&amp;loop=1&amp;mute=1&amp;rel=0&amp;start=0.0001&amp;html5=1&amp;v=8e8CqmmO-4Y&amp;feature=emb_logo&amp;enablejsapi=1&amp;origin=https://sns.bitrix24.com" data-source="https://www.youtube.com/watch?v=8e8CqmmO-4Y&amp;feature=emb_logo" data-gtm-yt-inspected-1_25="true" id="28464139"></iframe> 
  </div>  
    <!-- <img  class="sns" src="../../assets/sns.jpg">  -->
   <!-- <mdb-carousel [isControls]="false" [animation]="'slide'">
         <mdb-carousel-item>
           <img class="d-block w-100" src="../../assets/sns.jpg" alt="First slide">
         </mdb-carousel-item>
         
         <mdb-carousel-item>
           <img class="d-block w-100 h-60 second" src="../../assets/sns4.png" alt="Second slide">
          
         </mdb-carousel-item>
         
         <mdb-carousel-item>
           <img class="d-block w-100" src="../../assets/sns2.jpg" alt="Third slide">
         </mdb-carousel-item>
       </mdb-carousel> 
       -->
       
 

 <div class="carddetails row">
   <mat-card class="example-card col-lg-4  col-md-4 col-sm-4" style="background-color: rgb(108, 149, 175);">
         <mat-card-content>
               <div class="card1 mt-3">
                     <i class="fa fa-graduation-cap icons"></i>
                     <h6 class="text-white ">
                           COURSES <br> OFFERED
                     </h6>
                     <div class="circle" style="border:1px solid rgb(108, 149, 175);">
                           <i class='fas fa-chevron-right circleicon ml-2'  style="color: rgb(108, 149, 175);"></i>
                     </div>
               </div>
         </mat-card-content>
   </mat-card>
   <mat-card class="example-card col-lg-4  col-md-4 col-sm-4" style="background-color: rgb(28, 199, 241);">
         <mat-card-content>
               <div class="card1 mt-3">
                     <i class="fas fa-book-open icons"></i>
                     <h6 class="text-white ">
                           ADMISSION <br> PROCEDURES
                     </h6>
                     <div class="circle" style="border:1px solid rgb(28, 199, 241)">
                           <i class='fas fa-chevron-right circleicon ml-2' style='color: rgb(28, 199, 241);'></i>
                     </div>
               </div>
         </mat-card-content>
   </mat-card>
   <mat-card class="example-card col-lg-4  col-md-4 col-sm-4" style="background-color: rgb(108, 149, 175);">
         <mat-card-content>
               <div class="card1 mt-3">
                     <i class="fas fa-user-friends icons"></i>
                     <h6 class="text-white">
                           FACULTY<br>PROFILES
                     </h6>
                     <div class="circle" style="border:1px solid  rgb(108, 149, 175)">
                           <i class='fas fa-chevron-right circleicon ml-2' style="color: rgb(108, 149, 175);"></i>
                     </div>
               </div>
         </mat-card-content>
   </mat-card>
 </div> 
 <div class="mt-5" >
       <div class="row">
                   <div class="card know  col-lg-3 col-md-6  col-sm-6 col-xl-3  col-7" >
            <img class="card-img-bottom" src="assets/basket.jpg" alt="Card image" style="width:100%">
        
            <div class="card-body  ">
            <h4 class="card-title ">KNOW ABOUT US</h4>
              <p class="card-text ">SNS College of Engineering (Autonomous) is a multi- disciplinary global institution established in the year 2007, is affiliated to Anna University, Chennai and approved by AICTE, New Delhi. Since the inception, SNSCE has reformed and refined the boundaries of intellectual and creative thoughts as a pre-eminent academic center.</p>
              <a href="#" [routerLink]="['/aboutmore']" class="btn btn-primary" style="text-align: center;width:100%">know More</a>
            </div>
        
          
        </div>
           <div class="about col-lg-8  col-sm-9   col-md-9  col-xl-9 col-12 ">
        <section id="about" >
            <div >
            <h4 style="color:rgb(92, 92, 62)">SNS DESIGN THINKERS</h4>
            <div class="row">
            <div  class="vision col-lg-6 col-md-6  col-sm-6 col-6">
            <h3>VISION</h3>
            <h5>SNS College of Engineering envisages its vision to provide quality education of international standards and impart knowledge & skills to the students, in the process to shine as one of the premier institutions in the country and worldwide.</h5>
            </div>
            <div   class="mission col-lg-6 col-md-6  col-sm-6 col-6">
            <h3 >MISSION</h3>
            <h5>.create conducive environment for the school leaving youths – both boys and girls to acquire quality technical knowledge and skills,</h5>
            <h5>.provide social and economic accessibility for every section of society to enjoy education of global standards</h5>
             </div>
             </div>
            </div>
            </section> 
            </div> 
       </div>
        
            <div class="row " style="margin-top:9%;">
                  <div class="col-lg-3 col-md-6 col-sm-12 ">
                        <div class="flip-box ">
                              <div class="flip-box-inner ">
                                <div class="flip-box-front" >
                                  <img    data-aos="flip-right" 
                                  data-aos-duration="3000" src="assets/placement.png" alt="Paris" style="width:350px;height:300px">
                                </div>
                                <div class="flip-box-back">
                                  <h2>PLACEMENTS</h2>
                                 
                                </div>
                              </div>
                            </div>
                  </div>
                  <div class="col-lg-3  col-md-6 col-sm-12">
                        <div class="flip-box">
                              <div class="flip-box-inner">
                                <div class="flip-box-front">
                                  <img  data-aos-duration="3000" data-aos="flip-down" src="assets/infrastructure.png" alt="Paris" style="width:350px;height:300px">
                                </div>
                                <div class="flip-box-back">
                                  <h2>INFRASTRUCTRE</h2>
                                
                                </div>
                              </div>
                            </div>
                  </div>
                  <div class="col-lg-3  col-md-6 col-sm-12">
                        <div class="flip-box">
                              <div class="flip-box-inner">
                                <div class="flip-box-front">
                                  <img data-aos="zoom-in-down"  data-aos-duration="3000" src="assets/international.jpg" alt="Paris" style="width:350px;height:300px">
                                </div>
                                <div class="flip-box-back">
                                  <h2>INTERNATIONAL RELATION</h2>
                                 
                                </div>
                              </div>
                            </div>
                  </div>
                  <div class="col-lg-3  col-md-6 col-sm-12">
                        <div class="flip-box">
                              <div class="flip-box-inner">
                                <div class="flip-box-front">
                                  <img   data-aos-duration="3000" data-aos="flip-up" src="assets/freshman.jpg" alt="Paris" style="width:350px;height:300px">
                                </div>
                                <div class="flip-box-back">
                                  <h2>FRESHMAN</h2>
                                 
                                </div>
                              </div>
                            </div>
                  </div>
                </div>
            </div> 
            <div id="admission" class="row ">
              <div class="coursesheader">
                          <h2  data-aos="flip-right" >COURSES</h2>  
                          <hr class="courses">                   
              </div>
              <div class="row " style="margin-top:9%;width: 100%;">
                <div class="col-lg-3 col-md-6 col-sm-6 zoom">
                    <img   src="assets/cse.jpg" alt="Paris" style="width:350px;height:300px">
                    <div class="overlay">
                      <div class="text">COMPUTER SCIENCE ENGINEERING</div>
                    </div>
                              
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6 zoom">
                     
                                <img  src="assets/btech.jpg" alt="Paris" style="width:350px;height:300px">
                                <div class="overlay">
                                  <div class="text">BTECH INFORMATION TECHNOLOGY</div>
                                </div>
                  
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6 zoom">
                     
                                <img  src="assets/ece.jpg" alt="Paris" style="width:350px;height:300px">
                                <div class="overlay">
                                  <div class="text">ELECTRICAL & COMUNICATION ENGINEERING</div>
                                </div>
                              
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6 zoom">
                     
                  <img  src="assets/ai.jpg" alt="Paris" style="width:350px;height:300px">
                  <div class="overlay">
                    <div class="text">ARTIFICIAL INTELLIGENCE</div>
                  </div>
                
  </div>
                </div>
                <div class="row " style="margin-top:9%;width: 100%;">
                <div class="col-lg-3  col-md-6 col-sm-6 zoom">
                     
                                <img  src="assets/ee.jpg" alt="Paris" style="width:350px;height:300px">
                                <div class="overlay">
                                  <div class="text">ELECTRICAL & ELECTRONICAL ENGINEERING</div>
                                </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6 zoom">
                     
                             <img  src="assets/me.jpg" alt="Paris" style="width:350px;height:300px">
                             <div class="overlay">
                                  <div class="text">MECHANICAL ENGINEERING</div>
                          </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6 zoom">
                     
                            <img  src="assets/cvil.jpg" alt="Paris" style="width:350px;height:300px">
                             <div class="overlay">
                                 <div class="text">CIVIL ENGINEERING</div>
                            </div>
                  </div>
                  <div class="col-lg-3  col-md-6 col-sm-6 zoom">
                     
                    <img  src="assets/IOT.jpg" alt="Paris" style="width:350px;height:300px">
                    <div class="overlay">
                      <div class="text">INTERNET OF THINGS</div>
                    </div>
                  
    </div>
              </div>
          </div> 
            <div id="placement" class="row">
            <div class="placementheader">
                        <h2  data-aos="flip-right" >PLACEMENT HIGHLIGHTS</h2>  
                        <hr class="horizontal">                   
            </div>
            <div class="Placements mt-5  ">
                  </div>
                   <div class="placementinfo row">
                        <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-4" data-aos="zoom-in-down">
                                    <h1>90%</h1>
                                    <p>PLACEMENT</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-4" data-aos="zoom-in-down">
                              <h1>1008</h1>
                              <p>STUDENT PLACED</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-4" data-aos="zoom-in-down">
                              <h1>12l</h1>
                              <p>HIGHEST SALARY PACKAGE</p>
                            </div> 
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-4" data-aos="zoom-in-down">
                              <h1>250</h1>
                              <p>RECRUITERS</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-4" data-aos="zoom-in-down">
                              <h1>12l</h1>
                              <p>HIGHEST INTERNSHIP STIPEND</p>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-4" data-aos="zoom-in-down">
                              <h1>258</h1>
                              <p>MOUS SIGNED</p>
                            </div>    
                  </div>
                  </div>
                  <div>

                  </div>
                  <div >
                  <div class="container-fluid p-3 my-3 mt-5 bg-light  snsgroup"  style="height: 130px;">
                    <h2   class="text-center" data-aos="flip-right" >GROUP OF INSTITUTIONS</h2>
                    <hr class="horizontal">  
                  </div>
                  <div class="row">
                  <div class="card  card2 col-lg-3  col-md-6 col-sm-12 " data-aos="zoom-in-up" >
                    <img class="card-img-top" src="assets/snstech.jfif" alt="Card image cap">
                    <div class="card-body text-center">
                      <p class="card-text">SNS TECHNOLOGY</p>
                    </div>
                  </div><div class="card card2 col-lg-3  col-md-6 col-sm-12"data-aos="zoom-in-down" >
                    <img class="card-img-top" src="assets/snsarts.jfif" alt="Card image cap">
                    <div class="card-body text-center">
                      <p class="card-text">SNS ARTS</p>
                    </div>
                  </div>
                  <div class="carcol-lg-3  card2 col-md-6 col-sm-12" data-aos="zoom-in-up" >
                    <img class="card-img-top" src="assets/snspharmacy.jfif" alt="Card image cap">
                    <div class="card-body text-center">
                      <p class="card-text">SNS PHARMACY</p>
                    </div>
                  </div>
                  <div class="card col-lg-3 card2  col-md-6 col-sm-12" data-aos="zoom-in-down" >
                    <img class="card-img-top" src="assets/snsschool.jfif" alt="Card image cap">
                    <div class="card-body text-center">
                      <p class="card-text">SNS SCHOOL</p>
                    </div>
                  </div> 
                  </div>

           

       
 
