
.main
{
    width: 100%;
    height: max-content;
    margin: auto;
   background-color: white;
   // box-shadow: 3px 3px 2px 5px #888888;
}
.form1{
    width: 60%;
    margin: auto;

}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 88%;
  }
  .mat-dialog-container {
    box-shadow: unset !important;
    background: unset !important; 
    overflow-x: unset !important;
    overflow-y: unset !important;
}
  
  


